html {
  box-sizing: border-box;
}
/* *, *:before, *:after {
  box-sizing: inherit;
} */


.sokoban-grid {
  position: absolute;
  display: grid;
}


.sokoban-main {
  position: relative;
}

.sokoban-nornal-cell {
  background-color: forestgreen;
}

.sokoban-cell {
  background-color: forestgreen;
  box-shadow: inset 0px 0px 5px red;
}

.isomeric {
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
}

.sokoban-empty {
  background-color: azure;
}

.sokoban-targetcell {
  background-color: grey;
}

.sokoban-cell-highlight {
  background-color: gold;
}

.sokoban-targetcell-highlight {
  background-color: greenyellow;
}

.sokoban-box {
  position: absolute;
  transition: all 0.3s linear;
}

.sokoban-worker {
  position: absolute;
  transition: all 0.15s linear;
}

.sokoban-movepad {
  position: absolute;
  width: 30vh;
  height: 30vh;
  display: grid;
  grid-template-areas: 
    " . up  ."
    "right . left"
    " .  down  .";
  grid-template-columns: 1fr  1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  bottom: 0;
  right: 0;
}

.sokoban-button-up{
  grid-area: up;
}

.sokoban-button-down{
  grid-area: down;
}
.sokoban-button-midpoint{
  grid-area: midpoint;
}
.sokoban-button-right{
  grid-area: right;
}
.sokoban-button-left{
  grid-area: left;
}

.sokoban-commands {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 0.2rem;
  bottom: 0.5rem;
  left: 0.5rem;
  width: 8vh;
  height: 24vh;
}

.sokoban-chooser {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 15vh;
  height: 15vh;
}

.sokoban-chooser input{
  appearance: none;
}

.sokoban-chooser label {
  display: block;
}
.sokoban-chooser div {
  background-color: darkcyan;
}

.sokoban-chooser input:hover + div{
  background-color: coral;
}

.sokoban-chooser input:checked + div{
  background-color: hotpink;
}

.sokoban-chooser input:active + div {
  background-color: crimson;
}

.sokoban-chooser .solved::before {
  content: "[*]";
}

.sokoban-button {
  appearance: none;
  border: none;
  color: grey;
  background: linear-gradient(0deg, rgb(29, 192, 221) 0%, rgb(107, 143, 197) 100%);;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sokoban-button:hover {
  opacity: .7;
}

.sokoban-button:active{
  color: rgb(90, 90, 90);
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.sokoban-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .4);
  opacity: 0;
  transition: all 0.25s ease-in;
  pointer-events: none;
}

.sokoban-modal.show {
  opacity: 1;
  pointer-events: visible;
}

.sokoban-help {
  background-color: azure;
  border-radius: 5px;
  border: 2px;
  width: clamp(200px, 50%, 1000px);
  padding: 1em;
}

.sokoban-modal-footer {
  padding-top: 1em;
}

.sokoban-help h2{
  font-size: 1.5em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid gray;
  margin-top: 24px;
  margin-bottom: 16px;
}

.sokoban-help h3{
  font-size: 1.2em;
  margin-top: 24px;
  margin-bottom: 16px;
}

.sokoban-help span{
  padding-bottom: 1.2em;
  margin-bottom: 1.2em;
}

.sokoban-statistic {
  position: absolute;
  top: 0px;
  left: 0px;
}

.sokoban-notifer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 0;
}

.sokoban-notifer-message {
  font-size: 2.5rem;
  color: #53d9d1;
}

@keyframes notifer {
  to {
    color: tomato;
    clip-path: circle(100% at 50% 50%);;
  }
}

.sokoban-notifer-message::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #53d9d1;
  opacity: 0.5;
  clip-path: circle(0% at 50% calc(50%));
  animation: notifer 2s ease-out;
  animation-fill-mode: forwards;
}
