html {
  box-sizing: border-box;
}
/* *, *:before, *:after {
  box-sizing: inherit;
} */


.sokoban-grid {
  position: absolute;
  display: grid;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
}

.sokoban-main {
  position: relative;
}

.sokoban-cell {
  background-color: forestgreen;
  outline: 1px red solid;/*не забудь убрать*/
}

.sokoban-empty {
  background-color: azure;
}

.sokoban-targetcell {
  background-color: grey;
  outline: 1px red solid;
}

.sokoban-cell-highlight {
  background-color: gold;
  outline: 1px red solid;
}

.sokoban-targetcell-highlight {
  background-color: greenyellow;
  outline: 1px red solid;
}

.sokoban-box {
  position: absolute;
}

.sokoban-worker {
  position: absolute;
}

.sokoban-movepad {
  position: absolute;
  display: grid;
  grid-template-areas: 
  "up  right"
  "left  down";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  bottom: 0;
  right: 0;
}

.sokoban-movebutton {
  appearance: none;
  border: 0;
  color: grey;
  background-color: rgba(255, 255, 255, 0);
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.sokoban-movebutton:hover {
  filter: drop-shadow(3px 5px 2px rgba(49, 75, 221, 0.4));
}

.sokoban-movebutton:active {
  color: rgb(90, 90, 90);
  filter: drop-shadow(3px 5px 2px rgba(37, 67, 236, 0.4));
}

.sokoban-button-up{
  grid-area: up;
}

.sokoban-button-down{
  grid-area: down;
}
.sokoban-button-midpoint{
  grid-area: midpoint;
}
.sokoban-button-right{
  grid-area: right;
}
.sokoban-button-left{
  grid-area: left;
}